<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.inquiry.dao.extend.ProProcessExtendMapper">
  <select id="findProProcessByProId" resultType="com.xzx.xzxms.inquiry.vo.ProProcessVO">
    SELECT
    spd.id proId,
    spd.name proName,
    count(DISTINCT i.id) iNum,
    count(DISTINCT q.id) qNum,
    count(if(spc.technical_audit=0 or spc.technical_audit is null,null,true)) tNum,
    count(if(spc.business_audit=0 or spc.business_audit is null,null,true)) bNum,
    count(if(spc.compare_audit=0 or spc.compare_audit is null,null,true)) cNum,
    count(if(spc.finally_audit=0 or spc.finally_audit is null,null,true)) fNum
    from sys_pro_detail spd
    LEFT JOIN inquiry i on spd.id = i.pro_detail_id
    LEFT JOIN quote q on q.inquiry_id = i.id
    LEFT JOIN sys_pro_check spc on spc.quote_id = q.id
    where
      spd.is_active = 1
      and (i.is_active = 1 and q.is_active = 1 or i.is_active is null or q.is_active is null)
      <if test="proId != null and proId != ''">
          and spd.id = #{proId}
      </if>
    GROUP BY spd.id, spd.name
  </select>
</mapper>