<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.inquiry.dao.extend.SupplierExtendMapper">
<!--<select id="findAllLike" resultType="com.xzx.xzxms.inquiry.bean.Supplier">
    select * from supplier
    <where>
        is_active = 1
        <if test="name!=null and name!=''">
            and name like "%"#{name}"%"
        </if>
    </where>
</select>-->
</mapper>