<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.inquiry.dao.extend.SysIndexExtendMapper">
    <select id="findProDetailSchedule" resultType="com.xzx.xzxms.inquiry.bean.extend.SysCheckAndScheduleExtend">
        select che.*,pro.id as sys_detail_id, pro.name as name, i.id as inquiry_id from sys_pro_detail pro
        LEFT JOIN inquiry i on pro.id = i.pro_detail_id
        LEFT JOIN quote q on i.id = q.inquiry_id
        LEFT JOIN sys_pro_check che on q.id = che.quote_id
      <where>
          q.is_active = 1 and i.is_active = 1 and pro.is_active = 1
          <if test="proDetailId != null and proDetail != -1">
              and pro.id = #{proDetailId}
          </if>
      </where>
        ORDER BY time,pro.id
    </select>

    <select id="findProIsFinally" resultType="com.xzx.xzxms.inquiry.bean.extend.SysCheckAndScheduleExtend">
        select che.*,pro.id as sys_detail_id, pro.name as name, i.id as inquiry_id, pro.time as pro_time from sys_pro_detail pro
        LEFT JOIN inquiry i on pro.id = i.pro_detail_id
        LEFT JOIN quote q on i.id = q.inquiry_id
        LEFT JOIN sys_pro_check che on q.id = che.quote_id
        <where>
            q.is_active = 1 and i.is_active = 1 and pro.is_active = 1
            <if test="proName != null and proName != ''">
                and pro.name = #{proName}
            </if>
        </where>
        ORDER BY time,pro.id
    </select>

    <select id="findProAndCompletion" resultType="ProjectCompletionVO">
        SELECT
          spd.id,
          spd.name,
          convert(count(if(spc.finally_audit=0 or spc.finally_audit is null,null,true))*100/count(1), decimal(15,2)) `completion`
        from sys_pro_detail spd
        LEFT JOIN inquiry i on spd.id = i.pro_detail_id
        LEFT JOIN quote q on q.inquiry_id = i.id
        LEFT JOIN sys_pro_check spc on spc.quote_id = q.id
        where
          spd.is_active = 1
        and (i.is_active = 1 and q.is_active = 1 or i.is_active is null or q.is_active is null)
        GROUP BY spd.id, spd.name
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${orderBy}
        </if>
    </select>

</mapper>