<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.inquiry.dao.extend.SysProDetailExtendMapper">
  <select id="findById" resultMap="option">
    select *
    FROM sys_pro_detail
    <where>
      is_active = 1
      <if test="proDetailId !=null and proDetailId!=0">
        and id=#{proDetailId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

  <resultMap id="option" type="com.xzx.xzxms.inquiry.bean.extend.SysProDetailExtend" extends="com.xzx.xzxms.inquiry.dao.SysProDetailMapper.ResultMapWithBLOBs">
    <association property="sysProType" column="pro_type_id" select="com.xzx.xzxms.inquiry.dao.extend.SysProTypeExtendMapper.findById"></association>
    <association property="sysProOrigin" column="pro_origin_id" select="com.xzx.xzxms.inquiry.dao.extend.SysProOriginExtendMapper.findById"></association>
  </resultMap>
</mapper>