<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.inquiry.dao.extend.SysProCheckExtendMapper">
    <select id="cascadeFindTechnical" resultMap="ProCheckExtendMap">
        SELECT
        spc.*,
        q.id q_id,q.image q_image, ss.supplier q_supplier, q.su_delivery q_su_delivery,q.su_model q_su_model,q.su_params q_su_params,q.su_brand q_su_brand,
        q.su_price q_su_price,q.su_total_price q_su_total_price,q.warranty q_warranty,q.data_source q_data_source,q.su_remark q_su_remark,
        i.model i_model,i.name i_name,i.number i_number,i.params i_params,i.sort i_sort,i.unit i_unit,i.template_id i_template_id
        FROM
        sys_pro_check spc
        LEFT JOIN quote q ON spc.quote_id = q.id
        LEFT JOIN inquiry i on q.inquiry_id = i.id
        LEFT JOIN sys_pro_detail spd ON i.pro_detail_id = spd.id
        LEFT JOIN sys_file sf ON sf.other_id = q.id
        left join supply_supplier ss on ss.id = q.supplier_id
        <where>
            q.is_active = 1 and i.is_active = 1
            <if test="status!=null and status!=-1">
                AND spc.technical_audit = #{status}
            </if>
            <if test="proDetailId!=null and proDetailId!=-1">
                AND spd.id = #{proDetailId,jdbcType=BIGINT}
            </if>
        </where>
        order by i.name, i.model
    </select>
    <resultMap id="ProCheckExtendMap" type="com.xzx.xzxms.inquiry.bean.extend.SysCheckExtend" extends="com.xzx.xzxms.inquiry.dao.SysProCheckMapper.BaseResultMap">
        <collection property="quote" ofType="com.xzx.xzxms.inquiry.bean.Quote" autoMapping="true" columnPrefix="q_">
        </collection>
        <collection property="inquiry" ofType="com.xzx.xzxms.inquiry.bean.Inquiry" autoMapping="true" columnPrefix="i_">
        </collection>
        <collection property="files" column="q_id" select="com.xzx.xzxms.system.dao.extend.SysFileExtendMapper.selectByOtherId" />
    </resultMap>

    <select id="cascadeFindBusiness" resultMap="ProCheckExtendMap">
        SELECT
        spc.*,
        q.id q_id,q.image q_image, ss.supplier q_supplier, q.su_delivery q_su_delivery,q.su_model q_su_model,q.su_params q_su_params,
        q.su_price q_su_price,q.su_total_price q_su_total_price,q.warranty q_warranty,q.data_source q_data_source,q.su_remark q_su_remark,
        i.model i_model,i.name i_name,i.number i_number,i.params i_params,i.sort i_sort,i.unit i_unit,i.template_id i_template_id
        FROM
        sys_pro_check spc
        LEFT JOIN quote q ON spc.quote_id = q.id
        LEFT JOIN inquiry i on q.inquiry_id = i.id
        LEFT JOIN sys_pro_detail spd ON i.pro_detail_id = spd.id
        LEFT JOIN sys_file sf ON sf.other_id = q.id
        left join supply_supplier ss on ss.id = q.supplier_id
        <where>
            q.is_active = 1 and i.is_active = 1
            <if test="status!=null and status!=-1">
                AND spc.business_audit = #{status}
            </if>
            <if test="proDetailId!=null and proDetailId!=-1">
                AND spd.id = #{proDetailId,jdbcType=BIGINT}
            </if>
            <if test="supplier!=null and supplier!=''">
                AND q.supplier like "%"#{supplier,jdbcType=VARCHAR}"%"
            </if>
        </where>
        order by i.name, i.model
    </select>



    <select id="findExistsCheck" resultType="Integer">
        SELECT COUNT(d.type) from sys_pro_check d
        LEFT JOIN quote c on c.id=d.content_id
        LEFT JOIN inquiry b on b.id=c.inquiry_id
        LEFT JOIN sys_pro_detail a on a.id=b.pro_detail_id
        where a.id = #{proDetailId,jdbcType=BIGINT}
    </select>


    <select id="findBusinessAuditDeal" resultType="com.xzx.xzxms.inquiry.vm.ToDoList">
        SELECT 	pro.`name` as pro_name,
				i.`name` as inquiry_name,
				q.supplier as quote_supplier,
				q.su_model as quote_su_model,
				q.su_brand as quote_su_brand,
				q.su_price as quote_su_price,
				q.su_params as quote_su_params,
				c.technical_audit as technical_audit,
				c.business_audit as business_audit
				FROM inquiry i LEFT JOIN quote q on i.id = q.inquiry_id
				LEFT JOIN sys_pro_check c on q.id = c.quote_id
				LEFT JOIN sys_pro_detail pro on pro.id = i.pro_detail_id
				WHERE i.is_active = 1 and q.is_active = 1 AND pro.is_active = 1 AND c.business_audit = 0
				ORDER BY pro.time desc
    </select>

    <select id="findTechnicalAuditDeal" resultType="com.xzx.xzxms.inquiry.vm.ToDoList">
        SELECT 	pro.`name` as pro_name,
				i.`name` as inquiry_name,
				q.supplier as quote_supplier,
				q.su_model as quote_su_model,
				q.su_brand as quote_su_brand,
				q.su_price as quote_su_price,
				q.su_params as quote_su_params,
				c.technical_audit as technical_audit,
				c.business_audit as business_audit
				FROM inquiry i LEFT JOIN quote q on i.id = q.inquiry_id
				LEFT JOIN sys_pro_check c on q.id = c.quote_id
				LEFT JOIN sys_pro_detail pro on pro.id = i.pro_detail_id
				WHERE i.is_active = 1 and q.is_active = 1 AND pro.is_active = 1 AND c.technical_audit = 0
				ORDER BY pro.time desc
    </select>

    <select id="findCompareAuditDeal" resultType="com.xzx.xzxms.inquiry.vm.ToDoList">
        SELECT 	pro.`name` as pro_name,
				i.`name` as inquiry_name,
				q.supplier as quote_supplier,
				q.su_model as quote_su_model,
				q.su_brand as quote_su_brand,
				q.su_price as quote_su_price,
				q.su_params as quote_su_params,
				c.technical_audit as technical_audit,
				c.business_audit as business_audit,
				c.compare_audit as compare_audit,
				c.finally_audit as finally_audit
				FROM inquiry i LEFT JOIN quote q on i.id = q.inquiry_id
				LEFT JOIN sys_pro_check c on q.id = c.quote_id
				LEFT JOIN sys_pro_detail pro on pro.id = i.pro_detail_id
				WHERE i.is_active = 1 and q.is_active = 1 AND pro.is_active = 1 AND c.technical_audit != 0 AND c.business_audit != 0 AND c.compare_audit = 0
				ORDER BY pro.time desc
    </select>

    <select id="findFinallyAuditDeal" resultType="com.xzx.xzxms.inquiry.vm.ToDoList">
        SELECT 	pro.`name` as pro_name,
				i.`name` as inquiry_name,
				q.supplier as quote_supplier,
				q.su_model as quote_su_model,
				q.su_brand as quote_su_brand,
				q.su_price as quote_su_price,
				q.su_params as quote_su_params,
				c.technical_audit as technical_audit,
				c.business_audit as business_audit,
				c.compare_audit as compare_audit,
				c.finally_audit as finally_audit
				FROM inquiry i LEFT JOIN quote q on i.id = q.inquiry_id
				LEFT JOIN sys_pro_check c on q.id = c.quote_id
				LEFT JOIN sys_pro_detail pro on pro.id = i.pro_detail_id
				WHERE i.is_active = 1 and q.is_active = 1 AND pro.is_active = 1 AND c.technical_audit != 0 AND c.business_audit != 0 AND c.compare_audit != 0 AND c.finally_audit = 0
				ORDER BY pro.time desc
    </select>

</mapper>