<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.stock.dao.StockInvoiceMapper">
  <select id="findStockCheckByParams" resultType="com.xzx.xzxms.stock.vo.StockCheckVO">
    select *
    from stock_check_vo
    <where>
      <if test="contractId != null and contractId != ''">
       and purchase_items.contract_id = #{contractId}
      </if>
      <if test="proId != null and proId != ''">
       and purchase_items.project_id = #{proId}
      </if>
      <if test="startTime != null and startTime != ''">
       and purchase_items.time &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
       and purchase_items.time &lt;= #{endTime}
      </if>
    </where>
  </select>
</mapper>