<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.FinallyCheckExtendMapper">
   <!-- <select id="cascadeFindAllByParams" resultType="com.xzx.xzxms.vm.FinallyCheckCompareVM">
        select
          i.*,c.status as compare_status,c.id as compare_id,c.remark as compare_remark,spc.remark final_remark
        from
          inquiry i
        left join compare c on c.inquiry_id = i.id
        left join sys_pro_check spc on spc.content_id = i.id
        left join sys_role sr on spc.role_id = sr.id
        <where>
            c.status != 0
            and spc.check_status = 0
            and sr.check_name=#{checkName,jdbcType=VARCHAR}
            <if test="proDetailId!=null and proDetailId!=-1">
                and i.pro_detail_id = #{proDetailId,jdbcType=INTEGER}
            </if>
        </where>
        order by i.name
    </select>-->

</mapper>