<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.FinallyCheckExtendMapper">
   <select id="cascadeFindAllByParams" resultType="com.xzx.xzxms.vm.FinallyCheckCompareVM">
        select
          q.*,
          i.model model,i.name name,i.number number,i.params params,i.unit unit,
          spc.id compare_id, spc.check_status compare_status, spc.remark compare_remark
        from
          inquiry i
        right join quote q on q.inquiry_id = i.id
        left join sys_pro_check spc on spc.content_id = q.id
        <where>
             spc.check_status != 0
            and spc.type = "比价审核"
            <if test="proDetailId!=null and proDetailId!=-1">
                and i.pro_detail_id = #{proDetailId,jdbcType=BIGINT}
            </if>
        </where>
        order by i.name
    </select>

</mapper>