<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.InquiryExtendMapper">

    <select id="findByProIdOrCompareStatus" resultMap="compareResultMap">
        select
        i.*,pro.pro_rate rate
        from inquiry i
        left join sys_pro_detail pro on i.pro_detail_id = pro.id
        left join quote q on i.id=q.inquiry_id
        left join sys_pro_check spc on spc.content_id=q.id,
		(
		  SELECT count(1) num
			from inquiry i
            left join sys_pro_detail pro on i.pro_detail_id = pro.id
            left join quote q on i.id=q.inquiry_id
            left join sys_pro_check spc on q.id = spc.content_id
            where
                spc.check_status = 0 and spc.type != "最终审核" and spc.type != "比价审核"
        ) a
        <where>
            i.is_active = 1 and q.is_active =1 and a.num = 0
            <if test="proDetailId != -1">
                and pro.id = #{proDetailId,jdbcType=BIGINT}
            </if>
            <if test="compareStatus!=null and compareStatus!=-1">
                and spc.type="比价审核"
                <if test="compareStatus == 0">
                    and  spc.check_status = 0
                </if>
                <if test="compareStatus != 0">
                    and spc.check_status != 0
                </if>
            </if>
        </where>
        GROUP BY i.id
    </select>



    <select id="findByProIdOrCompareStatusToEquals" resultMap="compareResultMap">
        select
        i.id, i.name, i.params,i.number,i.price,i.total_price, i.pro_detail_id,
        che.type che_type,che.check_status che_check_status
        from inquiry i
        left join sys_pro_detail pro on i.pro_detail_id = pro.id
        left join quote q on i.id=q.inquiry_id
        left join sys_pro_check che on q.id = che.quote_id
        <where>
            i.is_active = 1 and pro.is_active = 1 and q.is_active = 1
            <if test="proDetailId != -1 and proDetailId != null">
                and pro.id = #{proDetailId,jdbcType=BIGINT}
            </if>
            <if test="compareStatus != 0 and compareStatus != null">
                and che.check_status != 0
            </if>
        </where>
        GROUP BY i.id, i.name, i.params,i.number,i.price,i.total_price, i.pro_detail_id,
        che.type,che.check_status
    </select>


    <resultMap id="compareResultMap" type="com.xzx.xzxms.bean.extend.InquiryCompareExtend" extends="com.xzx.xzxms.dao.InquiryMapper.BaseResultMap">
    </resultMap>

    <select id="findInquiryAndQuoteNum" resultType="com.xzx.xzxms.bean.extend.InquiryExtend">
        SELECT
          b.*,a.num quote_num
        from
          inquiry b left join (SELECT inquiry_id,count(1) num from quote where inquiry_id=inquiry_id and is_active = 1 group by inquiry_id)a
        ON
          b.id = a.inquiry_id
        <where>
            b.is_active = 1
            <if test="proDetailId != -1 and proDetailId != null">
                and b.pro_detail_id = #{proDetailId,jdbcType=BIGINT}
            </if>

        </where>

    </select>

</mapper>