<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.InquiryPoolExtendMapper">
    <select id="findByParams" resultType="com.xzx.xzxms.bean.extend.InquiryPoolExtend">
        select p.*,d.name pro_name
        from
        inquiry_pool p LEFT JOIN sys_pro_detail d ON d.id = p.pro_detail_id
        <where>
          p.is_active = 1
          <if test="name != null and name != ''">
            and p.equipment_name like CONCAT(CONCAT('%',#{name}),'%')
          </if>
          <if test="brand != null and brand != ''">
              and p.brand like CONCAT(CONCAT('%',#{brand}),'%')
          </if>
        </where>
    </select>


</mapper>