<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.InquiryExtendMapper">
    <!--<select id="cascadeSelectByPrimaryKey" resultType="com.xzx.xzxms.bean.InquiryWithBLOBs">
        select
          i.*
        from
          inquiry i, sys_pro_detail spd
        <where>
            i.pro_detail_id = spd.id
            and i.id = #{contentId,jdbcType=BIGINT}
            <if test="proDetailId!=-1">
                and spd.id = #{proDetailId,jdbcType=BIGINT}
            </if>
        </where>
    </select>-->

    <select id="findByProIdOrCompareStatus" resultMap="compareResultMap">
        select
        i.id, i.name, i.params, i.pro_detail_id,
        che.type che_type,che.check_status che_check_status,che.content_id che_content_id
        from inquiry i
        left join sys_pro_detail pro on i.pro_detail_id = pro.id
        left join quote q on i.id=q.inquiry_id
        left join sys_pro_check che on q.id = che.content_id
        <where>
            i.is_active = 1 and pro.is_active = 1 and q.is_active = 1
            <if test="proDetailId != -1">
                and pro.id = #{proDetailId,jdbcType=BIGINT}
            </if>
            <if test="compareStatus!=null and compareStatus!=-1">
                <if test="compareStatus == 0">
                    and  che.check_status = 0
                </if>
                <if test="compareStatus != 0">
                    and che.check_status != 0
                </if>
            </if>
        </where>
        order by che.content_id
    </select>



    <select id="findByProIdOrCompareStatusToEquals" resultMap="compareResultMap">
        select
        i.id, i.name, i.params,i.number,i.price,i.total_price, i.pro_detail_id,
        che.type che_type,che.check_status che_check_status
        from inquiry i
        left join sys_pro_detail pro on i.pro_detail_id = pro.id
        left join quote q on i.id=q.inquiry_id
        left join sys_pro_check che on q.id = che.content_id
        <where>
            i.is_active = 1 and pro.is_active = 1 and q.is_active = 1 and che.type = '比价审核'
            <if test="proDetailId != -1">
                and pro.id = #{proDetailId,jdbcType=BIGINT}
            </if>
            <if test="compareStatus != 0">
                and che.check_status != 0
            </if>
        </where>
        GROUP BY i.id, i.name, i.params,i.number,i.price,i.total_price, i.pro_detail_id,
        che.type,che.check_status
    </select>


    <resultMap id="compareResultMap" type="com.xzx.xzxms.bean.extend.InquiryCompareExtend" extends="com.xzx.xzxms.dao.InquiryMapper.BaseResultMap">
    </resultMap>

</mapper>