<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.InquiryExtendMapper">
    <!--<select id="cascadeSelectByPrimaryKey" resultType="com.xzx.xzxms.bean.InquiryWithBLOBs">
        select
          i.*
        from
          inquiry i, sys_pro_detail spd
        <where>
            i.pro_detail_id = spd.id
            and i.id = #{contentId,jdbcType=BIGINT}
            <if test="proDetailId!=-1">
                and spd.id = #{proDetailId,jdbcType=BIGINT}
            </if>
        </where>
    </select>-->
</mapper>