<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.dao.extend.SysProCheckExtendMapper">
    <select id="cascadeRoleFindAll" resultType="com.xzx.xzxms.bean.extend.SysProCheckExtend">
      SELECT
        spc.* , sr.check_name checkName
	  FROM
	    sys_pro_check spc, sys_role sr
      WHERE
	    spc.role_id = sr.id
    </select>
    <select id="cascadeFindAllByCheckName" resultMap="ProCheckExtendMap">
	  SELECT
        spc.* , sr.check_name checkName
            ,#{proDetailId,jdbcType=BIGINT} as proDetailId
	  FROM
	    sys_pro_check spc, sys_role sr
      <where>
          spc.role_id = sr.id
          AND spc.type = #{type,jdbcType=INTEGER}
          AND sr.check_name = #{checkName,jdbcType=VARCHAR}
          <if test="checkStatus!=null and checkStatus!=-1">
              and spc.check_status = #{checkStatus,jdbcType=INTEGER}
          </if>
      </where>
    </select>
    <resultMap id="ProCheckExtendMap" type="com.xzx.xzxms.bean.extend.SysProCheckExtend" extends="com.xzx.xzxms.dao.SysProCheckMapper.BaseResultMap">
        <collection property="inquiry" ofType="map" column="{contentId=content_id,proDetailId=proDetailId}" select="com.xzx.xzxms.dao.extend.InquiryExtendMapper.cascadeSelectByPrimaryKey"></collection>
    </resultMap>
</mapper>