<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.system.dao.extend.SysUserExtendMapper">
  <select id="selectById" resultMap="UserExtendResultMap">
    SELECT *
    FROM sys_user
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <resultMap id="UserExtendResultMap"
     type="com.xzx.xzxms.system.bean.extend.SysUserExtend"
     extends="com.xzx.xzxms.system.dao.SysUserMapper.BaseResultMap">

     <collection property="roles" column="id" select="com.xzx.xzxms.system.dao.extend.SysRoleExtendMapper.selectByUserId" ></collection>
  </resultMap>
  <select id="selectAll" resultMap="UserExtendResultMap">
    SELECT *
    FROM sys_user
  </select>

  <select id="findById" resultType="com.xzx.xzxms.system.bean.SysUser">
    select *
    FROM sys_user
    where id=#{sysUserId,jdbcType=BIGINT}
  </select>
</mapper>