<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.ArrivalStatusExtendMapper">
    <select id="findContractNoAndFormOfPaymentByProjectName" resultMap="ArrivalExtendMap1">
        select
        a.*,
        c.id c_id, c.contract_no c_contract_no
        from purchase_contract c
        left join purchase_project p on p.id = c.project_id
        left join purchase_contract_attribute a on a.id = c.attribute_id

        <where>
            c.is_active = 1
            and p.is_active = 1
            and a.is_active = 1
            <if test="projectName != null">
                and p.project_name = #{projectName,jdbcType = VARCHAR}
            </if>
        </where>
    </select>
    <resultMap id="ArrivalExtendMap1" type="com.xzx.xzxms.purchase.bean.vm.PurchaseContractAndContractAttributeVM" extends="com.xzx.xzxms.purchase.dao.PurchaseContractAttributeMapper.BaseResultMap">
        <collection property="purchaseContract" ofType="com.xzx.xzxms.purchase.bean.PurchaseContract" autoMapping="true" columnPrefix="c_"></collection>
    </resultMap>

    <select id="findArrivalStatusByContractId" resultMap="ArrivalExtendMap2">
        select
        i.*,
        s.arrival_status s_arrival_status
        from purchase_items i
        left join purchase_supply s on s.item_id = i.id
        left join purchase_contract c on c.id = i.contract_id

        <where>
            i.is_active = 1
            and s.is_active = 1
            and c.is_active = 1
            <if test="contractId != null">
                and c.id = #{contractId,jdbcType = BIGINT}
            </if>
        </where>
    </select>
    <resultMap id="ArrivalExtendMap2" type="com.xzx.xzxms.purchase.bean.vm.PurchaseItemsAndPurchaseSupplyVM" extends="com.xzx.xzxms.purchase.dao.PurchaseItemsMapper.BaseResultMap">
        <collection property="purchaseSupply" ofType="com.xzx.xzxms.purchase.bean.PurchaseSupply" autoMapping="true" columnPrefix="s_"></collection>
    </resultMap>
</mapper>