<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.GeneratePurchaseContractExtendMapper">
    <select id="findByProjectId" resultMap="GenerateExtendMap1">
        select
        i.*,
        s.supplier s_supplier,s.model s_model,s.brand s_brand,s.params s_params,s.price s_price,s.delivery s_delivery,s.remark s_remark,
        s.total_price s_total_price,s.warranty s_warranty,s.arrival_status s_arrival_status,s.id s_id,s.number s_number,
        p.project_name as purchaseProName
        from purchase_items i
        left join purchase_supply s on s.item_id = i.id
        left join purchase_project p on p.id = i.project_id
        <where>
            i.is_active = 1
            and s.is_active = 1
            and p.is_active = 1
            <if test="projectId != null">
                and p.id in
                <foreach collection="projectId" item="id" index="index" open="(" close=")" separator=",">
                #{id, jdbcType = BIGINT}
                </foreach>
            </if>
            <if test="name != null and name != ''">
                and i.item = #{name}
            </if>
        </where>
        order by time
    </select>
    <resultMap id="GenerateExtendMap1" type="com.xzx.xzxms.purchase.bean.vm.PurchaseItemsAndSupplyVM" extends="com.xzx.xzxms.purchase.dao.PurchaseItemsMapper.BaseResultMap">
        <result property="purchaseProName" column="purchaseProName"></result>
        <collection property="purchaseSupply" ofType="com.xzx.xzxms.purchase.bean.PurchaseSupply" autoMapping="true" columnPrefix="s_"></collection>
    </resultMap>
</mapper>