<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchaseContractExtendMapper">
    <select id="findAllLikeByContractNo" resultType="com.xzx.xzxms.purchase.bean.PurchaseContract">
        select * from purchase_contract
        <where>
            is_active = 1
            <if test="contractNo!=null and contractNo!=''">
                and contract_no like "%"#{contractNo}"%"
            </if>
        </where>
    </select>

    <select id="findContractFileByContractId" resultType="com.xzx.xzxms.system.bean.SysFile">
        select name, url, u.username as operator, f.time, u1.username as update_operator, f.update_time
        from sys_file f
        left join sys_user u on f.operator = u.id
        left join sys_user u1 on f.update_operator = u1.id
        <where>
            f.is_active = 1
            <if test="contractId != null">
                and other_id = #{contractId}
            </if>
            <if test="type != null">
                and f.type = #{type}
            </if>
        </where>
    </select>

    <select id="findContractNoByYMD" parameterType="string" resultType="string">
        select contract_no from purchase_contract where contract_no like "%"#{contractNo}"%" GROUP BY contract_no
    </select>

    <select id="findByProjectId" resultType="com.xzx.xzxms.purchase.bean.PurchaseContract">
        select
         pc.*
        from purchase_contract pc
        left join purchase_bridge pb on pc.id = pb.purchase_contract_id
        left join purchase_project pp on pb.purchase_project_id = pp.id
        <where>
            pc.is_active != 0 and pp.is_active = 1
            <if test="projectId != null">
                and pp.id = #{projectId}
            </if>
            <if test="contractName != null and contractName != ''">
                and pc.contract_name like "%"#{contractName}"%"
            </if>
        </where>
    </select>
</mapper>