<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchaseContractAuditExtendMapper">
    <select id="dataSourceFirst" resultType="com.xzx.xzxms.inquiry.vo.ContractAuditDealVO">
        select
        pc.id contractId,
        pc.contract_no contractNo,
        pp.project_name proName,
        first_audit firstAudit, s1.username firstOperator, first_time firstTime,
        second_audit secondAudit, s2.username secondOperator, second_time secondTime,
        three_audit threeAudit, s3.username threeOperator, three_time threeTime
        from purchase_contract pc
        left join purchase_bridge pb on pb.purchase_contract_id = pc.id
        left join purchase_project pp on pb.purchase_project_id = pp.id
        left join sys_user s1 on first_operator = s1.id
        left join sys_user s2 on second_operator = s2.id
        left join sys_user s3 on three_operator = s3.id
        <where>
            pc.is_active = 1 and pp.is_active = 1 and pc.first_audit = 0
            <if test="contractId != null and contractId != ''">
                and pc.id = #{contractId, jdbcType = BIGINT}
            </if>
        </where>
        order by pp.id ,pc.send_time
    </select>
    <select id="dataSourceSecond" resultType="com.xzx.xzxms.inquiry.vo.ContractAuditDealVO">
        select
        pc.id contractId,
        pc.contract_no contractNo,
        pp.project_name proName,
        first_audit firstAudit, s1.username firstOperator, first_time firstTime,
        second_audit secondAudit, s2.username secondOperator, second_time secondTime,
        three_audit threeAudit, s3.username threeOperator, three_time threeTime
        from purchase_contract pc
        left join purchase_bridge pb on pb.purchase_contract_id = pc.id
        left join purchase_project pp on pb.purchase_project_id = pp.id
        left join sys_user s1 on first_operator = s1.id
        left join sys_user s2 on second_operator = s2.id
        left join sys_user s3 on three_operator = s3.id
        <where>
            pc.is_active = 1 and pp.is_active = 1 and pc.second_audit = 0
            <if test="contractId != null and contractId != ''">
                and pc.id = #{contractId, jdbcType = BIGINT}
            </if>
        </where>
        order by pp.id ,pc.send_time
    </select>
    <select id="dataSourceThree" resultType="com.xzx.xzxms.inquiry.vo.ContractAuditDealVO">
        select
        pc.id contractId,
        pc.contract_no contractNo,
        pp.project_name proName,
        first_audit firstAudit, s1.username firstOperator, first_time firstTime,
        second_audit secondAudit, s2.username secondOperator, second_time secondTime,
        three_audit threeAudit, s3.username threeOperator, three_time threeTime
        from purchase_contract pc
        left join purchase_bridge pb on pb.purchase_contract_id = pc.id
        left join purchase_project pp on pb.purchase_project_id = pp.id
        left join sys_user s1 on first_operator = s1.id
        left join sys_user s2 on second_operator = s2.id
        left join sys_user s3 on three_operator = s3.id
        <where>
            pc.is_active = 1 and pp.is_active = 1 and pc.three_audit = 0
            <if test="contractId != null and contractId != ''">
                and pc.id = #{contractId, jdbcType = BIGINT}
            </if>
        </where>
        order by pp.id ,pc.send_time
    </select>
</mapper>