<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchaseContractExtendMapper">
    <select id="findAllLikeByContractNo" resultType="com.xzx.xzxms.purchase.bean.PurchaseContract">
        select * from purchase_contract
        <where>
            is_active = 1
            <if test="contractNo!=null and contractNo!=''">
                and contract_no like "%"#{contractNo}"%"
            </if>
        </where>
    </select>


    <select id="findContractFileByContractId" resultType="com.xzx.xzxms.system.bean.SysFile">
        select name, url, u.username as operator, f.time, f.update_operator as update_operator, f.update_time
        from sys_file f
        left join sys_user u on f.operator = u.id
        left join sys_user u1 on f.update_operator = u1.id
    </select>
</mapper>