<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchasePlanExtendMapper">

    <resultMap id="PurchaseItems" type="com.xzx.xzxms.purchase.bean.PurchaseItems">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="contract_id" property="contractId" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
        <result column="item" property="item" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="model" property="model" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="is_inquiry" property="isInquiry" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="is_active" property="isActive" jdbcType="INTEGER" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="BIGINT" />
        <result column="update_operator" property="updateOperator" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <resultMap id="PurchaseItemsVO" type="com.xzx.xzxms.purchase.vo.PurchaseItemsVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="contract_id" property="contractId" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="VARCHAR" />
        <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
        <result column="item" property="item" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="model" property="model" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="is_inquiry" property="isInquiry" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="is_active" property="isActive" jdbcType="INTEGER" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="BIGINT" />

        <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <result column="tag_numer" property="tagNumer" jdbcType="VARCHAR" />
        <result column="meter" property="meter" jdbcType="VARCHAR" />
        <result column="measuring_range" property="measuringRange" jdbcType="VARCHAR" />
        <result column="meter_signal" property="meterSignal" jdbcType="VARCHAR" />
        <result column="connection_mode" property="connectionMode" jdbcType="VARCHAR" />
        <result column="tube" property="tube" jdbcType="VARCHAR" />
        <result column="template_id" property="templateId" jdbcType="BIGINT" />
    </resultMap>

    <resultMap id="SysProDetail" type="com.xzx.xzxms.inquiry.bean.SysProDetail">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pro_no" property="proNo" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findItemsByProjectId" parameterType="long" resultMap="PurchaseItemsVO">
        select i.id, i.contract_id, i.project_id, i.serial_number, i.item, i.brand, i.params, i.model, i.unit, i.number,i.is_inquiry, i.remark,
        i.is_active, u.username as operator,i.time, i.tag_numer, i.meter,
        i.measuring_range, i.connection_mode,i.tube, i.template_id, j.parent_id as parent_id, i.meter_signal
        from purchase_items i
        left join purchase_items j on i.parent_id = j.id
        left join sys_user u on u.id = i.operator
        where i.project_id = #{projectId} and i.is_active = 1 and (i.parent_id is null or i.parent_id != -1)
        order by serial_number
    </select>

    <select id="findSerialNumbersByProjectId" parameterType="long" resultType="double">
        select serial_number from purchase_items where project_id=#{projectId} and is_active=1
    </select>

    <select id="findNumberById" parameterType="long" resultType="double">
        select number from purchase_items where id = #{id} and is_active=1
    </select>

    <select id="findItemInfoById" parameterType="long" resultMap="PurchaseItems">
        select item, brand, params, model, unit, number, serial_number
        FROM `purchase_items`
        where id=#{id}
        and is_active=1
    </select>

    <select id="findProNameByProId" parameterType="long" resultType="string">
        SELECT project_name FROM `purchase_project` where id=#{projectId}
    </select>

    <insert id="insertItem" parameterType="com.xzx.xzxms.purchase.bean.PurchaseItems">
        insert into purchase_items (id,contract_id,project_id,serial_number,item,brand,params,model,unit,number,is_inquiry,remark,is_active,operator,time)
        values(#{id}, #{contractId}, #{projectId}, #{serialNumber}, #{item}, #{brand}, #{params}, #{model}, #{unit}, #{number}, #{isInquiry}, #{remark}, #{isActive}, #{operator}, #{time})
    </insert>

    <update id="updateItemNumber" parameterType="com.xzx.xzxms.purchase.bean.PurchaseItems">
        update purchase_items set number=#{number}, update_operator=#{updateOperator}, update_time=#{updateTime}  where id = #{id}
    </update>

    <select id="findPurchasingSupplierByItemId" parameterType="Long" resultType="com.xzx.xzxms.purchase.bean.PurchaseSupply">
        select * from purchase_supply where item_id = #{id} and is_active != 0
    </select>

    <select id="findProNameByProName" parameterType="long" resultType="long">
        SELECT id FROM `sys_pro_detail` where purchase_pro_id = #{id} and is_active = 1
    </select>

    <select id="findProNoByYM" parameterType="string" resultType="string">
        select pro_no from sys_pro_detail where pro_no like concat('%',#{proNo},'%') GROUP BY pro_no
    </select>

    <select id="findSort" parameterType="com.xzx.xzxms.inquiry.bean.SysProDetail" resultType="double">
        select sort
        from inquiry inner join sys_pro_detail on inquiry.pro_detail_id = sys_pro_detail.id
        where sys_pro_detail.name = #{name} and sort=#{sort} and inquiry.is_active = 1
    </select>
</mapper>