<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchaseProjectExtendMapper">
    <resultMap id="PurchaseProjectExtendResultMap" type="com.xzx.xzxms.purchase.dto.PurchaseProjectDTO">
        <result column="username" property="operator" jdbcType="VARCHAR"/>
        <result column="username1" property="updateOperator" jdbcType="VARCHAR"/>
        <result column="inquiryProName" property="inquiryProjectName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findAllLike" resultMap="PurchaseProjectExtendResultMap">
        select pro.*, user.username, user1.username username1, de.name inquiryProName
        from purchase_project pro
        left join sys_user user on pro.operator = user.id
        left join sys_user user1 on pro.update_operator = user1.id
        left join sys_pro_detail de on pro.inquiry_pro_id = de.id
        <where>
            pro.is_active = 1
            <if test="name!=null and name!=''">
                and pro.project_name like "%"#{name}"%"
            </if>
        </where>
    </select>
</mapper>