<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchaseContractGenerateExtendMapper">
    <resultMap id="PurchaseContractGenerateVO" type="com.xzx.xzxms.purchase.vo.PurchaseContractGenerateVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
        <result column="supplier" property="supplier" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="model" property="model" jdbcType="VARCHAR" />
        <result column="item" property="item" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
        <result column="supply_params" property="supplyParams" jdbcType="VARCHAR" />
        <result column="items_params" property="itemsParams" jdbcType="VARCHAR" />
        <result column="warranty" property="warranty" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findPurchaseItemsInfo" parameterType="long" resultMap="PurchaseContractGenerateVO">
        SELECT purchase_items.serial_number, purchase_supply.supplier, purchase_supply.brand,
                purchase_supply.model, purchase_items.item, purchase_items.unit,
                purchase_supply.number, purchase_supply.price, purchase_supply.total_price,
                purchase_supply.params supply_params, purchase_items.params items_params,
                purchase_supply.warranty, purchase_supply.remark
        FROM purchase_project inner join purchase_items inner join purchase_supply
            on purchase_items.project_id = purchase_project.id and purchase_items.id = purchase_supply.item_id
        where purchase_project.is_active = 1
            and purchase_items.is_active = 1
            and purchase_supply.is_active=1
            and purchase_project.id=#{projectId,jdbcType = BIGINT}
        order by purchase_supply.supplier
    </select>

    <select id="findPurchaseItemsInfoByItemIds" resultMap="PurchaseContractGenerateVO">
        SELECT purchase_items.id, purchase_items.serial_number, purchase_supply.supplier,
                purchase_supply.brand, purchase_supply.model, purchase_items.item, purchase_items.unit,
                purchase_supply.number, purchase_supply.price, purchase_supply.total_price,
                purchase_supply.params supply_params, purchase_items.params items_params,
                purchase_supply.warranty, purchase_supply.remark
        FROM purchase_project inner join purchase_items inner join purchase_supply
            on purchase_items.project_id = purchase_project.id and purchase_items.id = purchase_supply.item_id
        where purchase_project.is_active = 1
            and purchase_items.is_active = 1
            and purchase_supply.is_active=1
            and purchase_project.id=#{projectId,jdbcType = BIGINT}
            <if test="itemIds != null">
            and purchase_items.id in
                <foreach collection="itemIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>

        order by purchase_supply.supplier
    </select>

    <select id="findContractNoNumByContractNo" resultType="int">
        select count(contract_no) from purchase_contract where contract_no=#{contractNo, jdbcType = VARCHAR}
    </select>
</mapper>