<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.purchase.dao.extend.PurchaseContractManagementExtendMapper">

    <resultMap id="PurchaseProjectVM" type="com.xzx.xzxms.purchase.vm.PurchaseProjectVM">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="PurchaseContractVM" type="com.xzx.xzxms.purchase.vm.PurchaseContractVM">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="contract_no" property="contractNo" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="attribute_id" property="attributeId" jdbcType="BIGINT"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="first_audit" property="firstAudit" jdbcType="INTEGER"/>
        <result column="second_audit" property="secondAudit" jdbcType="INTEGER"/>
        <result column="three_audit" property="threeAudit" jdbcType="INTEGER"/>
        <result column="first_remark" property="firstRemark" jdbcType="VARCHAR"/>
        <result column="second_remark" property="secondRemark" jdbcType="VARCHAR"/>
        <result column="three_remark" property="threeRemark" jdbcType="INTEGER"/>
        <result column="is_active" property="isActive" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="BIGINT"/>
        <result column="operator" property="operator" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAllProjects" parameterType="string" resultMap="PurchaseProjectVM">
        SELECT id,project_name FROM `purchase_project`
        where is_active = 1
        <if test="projectName != null">
            and project_name like "%"#{projectName}"%"
        </if>
        ORDER BY time DESC
    </select>
    
    <select id="findContractByProjectId" parameterType="long" resultMap="PurchaseContractVM">
        SELECT id, contract_no, project_id, attribute_id, first_audit, second_audit, three_audit,
                first_remark, second_remark, three_remark, is_active, time, operator
        FROM `purchase_contract`
        where project_id=#{projectId}
        and is_active=1
    </select>

    <update id="updateContractAuditById" parameterType="com.xzx.xzxms.purchase.vm.PurchaseContractVM">
        update `purchase_contract`
        set first_audit=#{firstAudit}, second_audit=#{secondAudit}, three_audit=#{threeAudit}
        where id=#{id}
    </update>
</mapper>