<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.equipment.dao.extend.EquipmentSignManagementExtendMapper">
    <!-- 周嘉玮 -->
    <!-- new 1、根据前端所传条件查询需签收、入库的购买项信息 -->
    <select id="findSignInfos" resultType="com.xzx.xzxms.equipment.vo.EquipmentSignVO">
        SELECT purchase_items.id item_id, purchase_items.contract_id, purchase_items.project_id,
                purchase_items.serial_number, purchase_items.item, purchase_items.brand,
                purchase_items.params, purchase_items.model, purchase_items.number,
                purchase_items.unit, purchase_items.tag_numer, purchase_items.meter,
                purchase_items.measuring_range, purchase_items.meter_signal,
                purchase_items.connection_mode, purchase_items.tube, purchase_supply.supplier_id,
                purchase_supply.supplier, purchase_supply.price, purchase_contract.contract_name,
                purchase_project.project_name, equipment_order.id order_id
        FROM `purchase_items`
        inner join purchase_supply on purchase_items.id = purchase_supply.item_id
        inner join purchase_contract on purchase_items.contract_id = purchase_contract.id
        inner join purchase_project on purchase_items.project_id = purchase_project.id
        inner join equipment_order on purchase_items.id = equipment_order.item_id
        where purchase_items.is_active=1 and purchase_supply.is_active=1
        and purchase_contract.is_active=1 and purchase_contract.contract_status=1
        and purchase_project.is_active=1 and equipment_order.is_active=1
        <if test="projectId != null">
            and purchase_items.project_id = #{projectId, jdbcType=BIGINT}
        </if>
        <if test="contractId != null">
            and purchase_items.contract_id = #{contractId, jdbcType=BIGINT}
        </if>
        <if test="item != null">
            and purchase_items.item like "%"#{item, jdbcType=VARCHAR}"%"
        </if>
        <if test="supplier != null">
            and purchase_supply.supplier like "%"#{supplier, jdbcType=VARCHAR}"%"
        </if>
    </select>


    <!--  根据order_id获取其订单跟踪信息  -->
    <!--  周嘉玮  -->
    <select id="findEquipmentOrderInfoByOrderId" parameterType="long" resultType="com.xzx.xzxms.equipment.bean.EquipmentOrder">
        select project_id,contract_id, item_id, supplier_id, scheduler_arrival_num, unit_item
        from equipment_order
        where id=#{orderId, jdbcType=BIGINT} and is_active=1
    </select>

</mapper>