<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.equipment.dao.extend.EquipmentOrderManagementExtendMapper">
    <resultMap id="EquipmentProjectVO" type="com.xzx.xzxms.equipment.vo.EquipmentProjectVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="EquipmentContractVO" type="com.xzx.xzxms.equipment.vo.EquipmentContractVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="EquipmentItemVO" type="com.xzx.xzxms.equipment.vo.EquipmentItemVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
        <result column="item" property="item" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="model" property="model" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="DOUBLE" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="supply_id" property="supplyId" jdbcType="BIGINT" />
        <result column="supplier" property="supplier" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
        <result column="warranty" property="warranty" jdbcType="VARCHAR" />
        <result column="contract_order_id" property="contractOrderId" jdbcType="BIGINT" />
        <result column="contract_order_status" property="contractOrderStatus" jdbcType="BIGINT" />
    </resultMap>
    
    <resultMap id="EquipmentOrderVO" type="com.xzx.xzxms.equipment.vo.EquipmentOrderVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="pay_type" property="payType" jdbcType="VARCHAR" />
        <result column="need_pay" property="needPay" jdbcType="DOUBLE" />
        <result column="unit_money" property="unitMoney" jdbcType="VARCHAR" />
        <result column="currency" property="currency" jdbcType="VARCHAR" />
        <result column="scheduler_pay_time" property="schedulerPayTime" jdbcType="BIGINT" />
        <result column="scheduler_delivery_time" property="schedulerDeliveryTime" jdbcType="BIGINT" />
        <result column="scheduler_arrival_num" property="schedulerArrivalNum" jdbcType="DOUBLE" />
        <result column="unit_item" property="unitItem" jdbcType="VARCHAR" />
    </resultMap>

    <!--  获取所有的采购项目名，及其id  -->
    <!--  周嘉玮  -->
    <select id="findAllPurchaseProject" resultMap="EquipmentProjectVO">
        SELECT id,project_name FROM `purchase_project` where is_active=1
    </select>

    <!--  根据项目id查询该项目下所有已生效合同  -->
    <!--  周嘉玮  -->
    <select id="findAllEffectContractsByProjectId" parameterType="long" resultMap="EquipmentContractVO">
        SELECT purchase_contract.id, purchase_contract.contract_name
        FROM purchase_project inner join purchase_bridge on purchase_project.id = purchase_bridge.purchase_project_id
        inner join purchase_contract on purchase_contract.id = purchase_bridge.purchase_contract_id
        where purchase_project.id = #{id} and purchase_contract.contract_status=1
    </select>

    <!--  根据合同id查询该合同下所有购买项信息  -->
    <!--  周嘉玮  -->
    <select id="findAllItemInfosByContractId" parameterType="long" resultMap="EquipmentItemVO">
        select purchase_items.id, purchase_items.serial_number, purchase_items.item,
               purchase_items.brand, purchase_items.params,purchase_items.model,
               purchase_items.number, purchase_items.unit, purchase_items.contract_order_id,
               purchase_items.contract_order_status,
               purchase_supply.id supply_id, purchase_supply.supplier, purchase_supply.price,
               purchase_supply.total_price, purchase_supply.warranty
        from purchase_items inner join purchase_supply on purchase_items.id = purchase_supply.item_id
        where purchase_items.is_active=1
            and purchase_supply.is_active=1
            and contract_id = #{contractId, jdbcType=BIGINT}
    </select>

    <!--  根据购买项id从purchase_items表中查询该购买项的合同订单跟踪状态  -->
    <!--  周嘉玮  -->
    <select id="findContractOrderStatusByItemId" parameterType="long" resultType="integer">
        select contract_order_status from purchase_items where id = #{id, jdbcType=INTEGER}
    </select>


    <!--  根据item_id获取其订单跟踪信息  -->
    <!--  周嘉玮  -->
    <select id="findEquipmentOrderInfoByItemId" parameterType="long" resultMap="EquipmentOrderVO">
        select id, pay_type, need_pay, unit_money, currency, scheduler_pay_time,
                scheduler_delivery_time, scheduler_arrival_num, unit_item
        from equipment_order
        where item_id=#{id} and is_active=1
    </select>

    <!--  根据order_id获取其订单跟踪信息  -->
    <!--  周嘉玮  -->
<!--    select project_id,contract_id, item_id, supplier_id, scheduler_arrival_num, unit_item-->
<!--    from equipment_order -->
<!--    where id=#{orderId, jdbcType=BIGINT} and is_active=1-->
<!--    <select id="findEquipmentOrderInfoByOrderId" parameterType="long" resultType="com.xzx.xzxms.equipment.bean.EquipmentOrder">-->
<!--        select scheduler_arrival_num, unit_item-->
<!--        from equipment_order-->
<!--        where id=#{orderId, jdbcType=BIGINT} and is_active=1-->
<!--    </select>-->

</mapper>