<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.xzxms.chapter.dao.extend.ChapterAuditExtendMapper">

    <resultMap id="ChapterAuditorDTO" type="com.xzx.xzxms.chapter.dto.ChapterAuditorDTO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>

<!--    <resultMap id="ChapterAuditFindDTO" type="com.xzx.xzxms.chapter.dto.ChapterAuditFindDTO">-->
<!--        <result column=""-->
<!--    </resultMap>-->

    <select id="findAllChapterAuditor" resultMap="ChapterAuditorDTO">
        select
        su.id,
        su.username
        from sys_user_role sur
        inner join sys_user su on sur.user_id = su.id
		inner join sys_role sr on sr.id = sur.role_id
        where su.is_active = 1 and sr.check_name is not null and sr.check_name != ''
    </select>

    <select id="findChapterAuditor" resultType="com.xzx.xzxms.chapter.bean.ChapterAudit">
        SELECT s1.username auditor, chapter_audit.id,project_name,contract_name,contract_no,main_content,price,file,first_party,second_party,type,
        s2.username sender,sender_time,audit_time,chapter_audit.is_active,sender_remark,audit_remark,audit_status
        FROM `chapter_audit`
        left join sys_user s1 on auditor = s1.id
        left join sys_user s2 on sender = s2.id
        <where>
            chapter_audit.is_active=1
            <if test="auditStatus != null">
                and audit_status = #{auditStatus}
            </if>
            <if test="proName != null">
                and project_name like CONCAT('%',#{proName, jdbcType = VARCHAR},'%')
            </if>
            <if test="startTime != null">
                and sender_time &gt;= #{startTime, jdbcType = BIGINT}
            </if>
            <if test="overTime != null">
                and sender_time &lt;= #{overTime, jdbcType = BIGINT}
            </if>
        </where>
        order by audit_status, sender_time
    </select>
</mapper>